<div class="banner banner-show" style="background-image: url('http://files.sbe.com/content/uploads/2015/02/DR8A6406-900x600.jpg');">
</div>


<h1 class="text-center"><%= @cocktail.name %></h1>

<div class="text-center">
  <% @cocktail.doses.each do |dose|%>
  <ul>
    <li>
      <%= dose.ingredient.name %>: <%= dose.description %>
      <%= link_to "delete", dose_path(dose_id: dose.id), method: :delete %>


    </li>

  </ul>

  <% end %>
</div>
<hr>


<div class="wrapper flexbox text-center">
<%= simple_form_for [@cocktail, Dose.new] do |f| %>
    <%= f.error_notification %>
    <%= f.input :ingredient_id, :collection => Ingredient.all %><br>
    <%= f.input :description %><br>
    <%= f.button :submit %>
  <% end %>
</div>
